.second-header {
  width: 100%;
  min-width: 800px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: image-url('2546011.jpg');
}

.second-logo {
  width: 150px;
  height: 100px;
}