.purchase-btn {
  width: 120px;
  background-image: image-url('image2-1.png');
  background-size: 100%;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  height: 120px;
  transition: all 1s ease 0s;
}

.purchase-btn:hover{
  cursor: pinter;
  transform: scale(1.5, 1.5);
}

.purchase-btn-text {
  color: rgb(12, 11, 11);
  display: block;
  font-size: 20px;
  text-decoration: none;
  margin-bottom: 5px;
}

.purchase-btn-icon {
  width: 60%;
}
